@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,800,900');

* {
    border: 2px solid grey; 
}

body {
    margin: 0;
    height: 100vh;
    background: #ddeaff;
}

p {
    font-family: 'Nunito';
    font-weight: 800;
    color: #f9f9f9;
}

#searchBox {
    position: absolute;
    text-align: center;
    top: 20%;
}

#searchInput {
    /* display: none; */
    z-index: 999;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-wrapper {
    width: 350px;
    height: 100px;
    position: relative;
    top: 30%;

    -webkit-filter: url("#goo");
    filter: url("#goo");
}

.inputSearch {
    font-family: 'Nunito';
    font-weight: 800;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    margin-top: -10px;
    border: none;
    background: #333;
    outline: none;
    z-index: 2;
    color: #f9f9f9;
    cursor: auto;
}

.bubble {
    position: absolute;
    display: inline-block;
    margin: 0 -3px 0 -3px;
    text-align: center;
    width: 50px;
    height: 50px;
    background: #333;
    border-radius: 100%;
    transition: left 1s, width 1s, border-radius 1.5s, height 1s;
    z-index: -1;
}

.animate {
    animation-name: bubbling;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.S {
    transition: color 1s;
}

@keyframes bubbling {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}